:root {
    --green: #3c5c43;
    --black: #192a56;
    --light-color: #89b393;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}


* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,

header .navbar a:hover {
    color: #fff;
    background: var(--green);
}

header .icon i,
header .icon a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icon i:hover,
header .icon a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icon #menu-bars {
    display: none;

}

#searsh-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#searsh-form.active {
    top: 0;

}


#searsh-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#searsh-form #search-box::placeholder {
    color: #eee;
}

#searsh-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#searsh-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#searsh-form label:hover {
    color: var(--green);
}

#searsh-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.toggle-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toggle-btn.active {
    background-color: #007bff;
    color: white;
}

.form {
    display: none;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}




.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 50%;
    padding: 10px;
}

.wrapper .title {
    height: 120px;
    background: var(--green);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.wrapper form {
    padding: 25px 35px;
}

.wrapper form .row {
    height: 60px;
    margin-top: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 70px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 18px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: var(--green);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 55px;
    height: 100%;
    color: #fff;
    font-size: 22px;
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin-top: 12px;
}

.wrapper form .pass a {
    color: var(--light-color);
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--green);
    border: 1px solid var(--green);
    cursor: pointer;
}

form .button input:hover {
    background: var(--green);
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 45px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: var(--light-color);
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}




.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }
  
  .container__left h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .container__left p {
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .container__left button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--primary-color-dark)
    );
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .container__right {
    display: grid;
    gap: 2rem;
  }
  
  .card {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .card img {
    max-width: 75px;
    border-radius: 100%;
  }
  
  .card__content {
    display: flex;
    gap: 1rem;
  }
  
  .card__content span i {
    font-size: 2rem;
    color: var(--primary-color);
  }
  
  .card__details p {
    font-style: italic;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .card__details h4 {
    text-align: right;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
  }






#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: var(--black);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background:var(--light-color);
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: var(--light-color);
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: var(--light-color);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: var(--light-color);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background:var(--black);
}


/* Responsive css */

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}






























@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

}

@media (max-width:768px) {
    header .icon #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #searsh-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

}

@media (max-width:991px) {

    html {
        font-size: 50%;
    }
}











@media (width < 1200px) {
    .container {
      gap: 3rem;
    }
  }
  
  @media (width < 900px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .container__right {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width < 750px) {
    .container__right {
      grid-template-columns: repeat(1, 1fr);
    }
  }